/* Nicholas Slamka, IS117-005, Fall 2020 */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    max-width: 1024px;
    margin: 0 auto !important;
    background-color: lightsalmon !important;
}

html {
    background: linear-gradient(30deg, lightsalmon 0%, lightsalmon 30%, white 50%, lightsalmon 80%, lightsalmon 100%);
}

header {
    padding: 15px 1.5625%;
    width: 100%;
    background: linear-gradient(30deg, orangered 0%, orangered 30%, white 50%, orangered 80%, orangered 100%);
    font-size: 150%;
}

header h1, header h3 {
    text-align: center;
}

#nav_menu ul {
    list-style: none;
    position: relative;
    width: 100%;
}

#nav_menu ul li {
    float: left;
    width: 25%;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover > ul {
    display: block;
}

#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
}

#nav_menu ul a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: orangered;
    color: white;
    font-weight: bold;
}

#mobile_menu {display: none}

a:hover, a:focus {
    font-style: italic;
}

main {
    font-size: 200%;
}

main p {
    text-align: justify;
    margin: 2%;
}

main h2 {
    text-align: center;
}

.card {
    float: none;
    margin-left: 10%;
    margin-bottom: 20px;
}

.card-img-top {
    width: 90%;
    height: 5%;
    object-fit: cover;
}

.btn-primary {
    width: 90%;
    background-color: orangered !important;
}

footer p {
    text-align: center;
}

footer {
    background-color: orangered;
    color: white;
    clear: both;
    padding: 15px 1.5625%;
}

@media only screen and (max-width: 959px) {
    main p {font-size: 70%}
}

@media only screen and (max-width: 767px) {
    header, footer p {text-align: center}
    footer p {margin-right: 0}
    #mobile_menu {display: block}
    .card, main h2, #nav_menu {display: none}
    .slicknav_menu{background-color: orangered !important}
}

@media only screen and (max-width: 479px) {
    body {font-size: 90%}
}