/* Nicholas Slamka, IS117-005, Fall 2020 */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    max-width: 1024px;
    margin: 0 auto !important;
    background-color: lightsalmon !important;
}

html {
    background: linear-gradient(30deg, lightsalmon 0%, lightsalmon 30%, white 50%, lightsalmon 80%, lightsalmon 100%);
}

.header {
    padding: 15px 1.5625%;
    width: 100%;
    background: linear-gradient(30deg, orangered 0%, orangered 30%, white 50%, orangered 80%, orangered 100%);
    font-size: 150%;
    text-align: center;
}

main {
    font-size: 200%;
}

main p {
    text-align: justify;
    margin: 2%;
}

main h2 {
    text-align: center;
}

.card {
    float: none;
    margin: 0 auto 20px;
    width: 80%;
    height: 5%;
    object-fit: cover;
}

.btn-primary {
    width: 100%;
    background-color: orangered !important;
    margin: 0 auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.75rem;
}

.mobile {display: none}

@media only screen and (max-width: 959px) {
    main p {font-size: 70%}
}

@media only screen and (max-width: 767px) {
    header {text-align: center}
    .card, main h2 {display: none}
    .mobile {display: block}
}

@media only screen and (max-width: 479px) {
    body {font-size: 90%}
}